$font := "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$title-font := "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$colors := {
  primary: rgb(40, 175, 96),
  secondary: rgb(53, 73, 94),
  blue-light: #004e92,
  blue-dark: #000428,
  white: white
}

$title-color := rgb(50, 50, 93);
$text-color := rgb(107, 124, 147);
